{% extends 'base.html.twig' %}

{% block title %}Ecoride login page{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<main>
    <div class="connexionForm">
        <div class="container">
            <div class="col-12 text-center mt-4">
                <h1>Connexion</h1>
                <div class="col mt-3">
                    {{ form_start(loginForm) }}
                        {{ form_row(loginForm.email) }}
                        {{ form_row(loginForm.password) }}
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}
