{% extends 'base.html.twig' %}

{% block title %}Ecoride register page{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button type="submit">S'inscrire</button>
{{ form_end(registrationForm) }}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% endblock %}