{% extends 'base.html.twig' %}

{% block title %}Ecoride register page{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="mt-5 bg-main-color rounded" id= "Registerform">
    <h1 class="mb-4 text-center">Inscription</h1>
    {{ form_start(registrationForm) }}
    <div class="mb-3">
        {{ form_label(registrationForm.nom) }}
        {{ form_widget(registrationForm.nom, { attr: { class: 'form-control' } }) }}
        {{ form_errors(registrationForm.nom) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.prenom) }}g
        {{ form_widget(registrationForm.prenom, { attr: { class: 'form-control' } }) }}
        {{ form_errors(registrationForm.prenom) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.pseudo) }}
        {{ form_widget(registrationForm.pseudo, { attr: { class: 'form-control' } }) }}
        {{ form_errors(registrationForm.pseudo) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, { attr: { class: 'form-control' } }) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, { attr: { class: 'form-control' } }) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-complementary-color w-50 fs-5">S'inscrire</button>
    </div>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
