<header>
  <nav>
    <div class="container-fluid gap-3">
      <div class="row d-flex align-items-center bg-body-tertiary">
        <div class="col-md-2">
          <img src="{{ asset('Image/Logo.png') }}" alt="Logo" />
        </div>
        <div class="col-md-2 text-center fs-4 menu-item" id="accueil">
          <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </div>
        <div class="col-md-2 text-center fs-4 menu-item" id="trajets">
          <a class="nav-link" href="{{ path('trip_resultat') }}">Vos trajets</a>
        </div>
        <div class="col-md-2 text-center fs-4 menu-item" id="espace">
        <a class="nav-link" href="{{ path('mon_espace') }}">Mon espace</a>
        </div>
        <div class="col-md-2 text-center fs-4 menu-item" id="Contacts">
        <a class="nav-link" href="{{ path('contact') }}">Contacts</a>        
        </div>
        <div class="col-md-2 text-center login">
          <div class="dropdown">
            <button class="Loginbutton dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background-color: transparent;">
              <span class="Seconnecter">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="var(--bs-complementary-color)" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
              </span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
              <li><a class="dropdown-item" href="{{ path('register') }}">S'inscrire</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>